<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.donghua.post</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__PROJ__/run-cron.sh</string>
  </array>
  <key>WorkingDirectory</key><string>__PROJ__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key><string>__HOME__</string>
    <key>PATH</key><string>__HOME__/.local/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>20</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>StandardOutPath</key><string>__PROJ__/cron.log</string>
  <key>StandardErrorPath</key><string>__PROJ__/cron.log</string>
</dict>
</plist>
